<h1>Shop</h1>
<button class="btn btn-info" (click)="sortProducts()">Order products</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList">
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.category}}</td>
        <td [ngClass]="{'low-price': product.price < 10}">{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</td>
        <td><button class="btn btn-info"  [routerLink]="['/products', product.id]">Detail</button></td>
      </tr>
    </tbody>
  </table>